:root {
    /* Basic*/
    --_size: 1vw;
    --transitionspeed: 0.4s;
    --marginLine: 4.5vw;
    --img--brightness--hover: brightness(120%);
  
    /* sizes */
    --bt--size: 3vw;
    --bts--margin: 1vw;
  
    --topBar--bts: 8vw;
    --topBar--margin: 1vw;
    --topBar--height: 4.6vw;
  
    --heart--padding: 0.5vw;
    --cart--padding: 0.5vw;
    --profile--padding: 0.8vw;
    --sideCart--padding: 0.9vw;

    --bookTitle--width: 11vw;
    --brandIcon--width: 8.5vw;
    --brandIcon--height: 3.5vw;
    --img--width: 7vw;
    --img--height: 11.5vw;
  
    /* border-radius */
    --bt--radius: 1vw;
    --bg--radius: 0.8vw;
  
    /* text font */
    --font--primary: 'Josefin Sans', sans-serif;
    --font--secondary: 'Poppins', sans-serif;
    --font--tertiary: 'Futura', sans-serif;
    --font--quartus: Arial, sans-serif;
  
    /* buttons/icons color */
    --bt--primary: #3B7FD9;
    --bt--primary--hover: #3674c6;
    --bt--secondary: #0460FB;
    --bt--tertiary: #F4F5F7;
    
    /* text color */
    --tx--primary: black;
    --tx--secondary: #2F2F2F;
    --tx--tertiary: #4A4A4A;
    --tx--quartus: #767676;
    --tx--quinary: #ACACAC;
    --clickable: #FF5900;
    --important: #E70011;
    --success: #009E3B;
  
    /* Background color */
    --background--primary: #2F2F2F;
    --background--secondary:#EDF2F8;
    --background--tertiary: #F4F5F7;
    --background--quartus: #EBEBEB;
    --background--heading: #F8ECC7;
  
    /* shadow */
    --img--shadow: 1px 2px 0.2em rgba(0, 0, 0, 0.482);
    --tx--shadow: 2px 2px 0.2em #171717;
    --bg--shadow--hover: 0px 2px 0.3em rgba(0, 0, 88, 0.2);
    --bt--shadow--hover: 1px 2px 0.1em rgba(0, 0, 0, 0.200);
}


/* The root variables in phone version */
@media screen and (max-width: 700px) {
    :root {
        /* Basic*/
        --_size: calc(15px*0.6);
        --transitionspeed: 0.4s;
        --marginLine: calc(60px*0.2);
        --img--brightness--hover: brightness(120%);
    
        /* sizes */
        --bt--size: calc(50px*0.5);
        --bts--margin: calc(10px*0.5);
    
        --topBar--bts: calc(110px*0.5);
        --topBar--margin: calc(20px*0.5);
        --topBar--height: calc(70px*0.8);
    
        --heart--padding: calc(7px*0.5);
        --cart--padding: calc(7px*0.5);
        --profile--padding: calc(10.5px*0.5);
        --sideCart--padding: calc(15px*0.5);

        --bookTitle--width: calc(150px*0.5);
        --brandIcon--width: calc(120px*0.6);
        --brandIcon--height: calc(55px*0.6);
        --img--width: calc(110px*0.5);
        --img--height: calc(180px*0.5);
    
        /* border-radius */
        --bt--radius: calc(15px*0.5);
        --bg--radius: calc(10px*0.5);
    
        /* text font */
        --font--primary: 'Josefin Sans', sans-serif;
        --font--secondary: 'Poppins', sans-serif;
        --font--tertiary: 'Futura', sans-serif;
        --font--quartus: Arial, sans-serif;
    
        /* buttons/icons color */
        --bt--primary: #3B7FD9;
        --bt--primary--hover: #3674c6;
        --bt--secondary: #0460FB;
        --bt--tertiary: #F4F5F7;
        
        /* text color */
        --tx--primary: black;
        --tx--secondary: #2F2F2F;
        --tx--tertiary: #4A4A4A;
        --tx--quartus: #767676;
        --tx--quinary: #ACACAC;
        --clickable: #FF5900;
        --important: #E70011;
        --success: #009E3B;
    
        /* Background color */
        --background--primary: #2F2F2F;
        --background--secondary:#EDF2F8;
        --background--tertiary: #F4F5F7;
        --background--quartus: #EBEBEB;
        --background--heading: #F8ECC7;
    
        /* shadow */
        --popup--shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.583);
        --img--shadow: 1px 2px 0.2em rgba(0, 0, 0, 0.482);
        --tx--shadow: 2px 2px 0.2em #171717;
        --bg--shadow--hover: 0px 2px 0.2em rgba(0, 0, 88, 0.2);
        --bt--shadow--hover: 1px 2px 0.1em rgba(0, 0, 0, 0.200);
    }
}
  


/* General settings */
html {
    box-sizing: border-box;
}

body {
    position: relative;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}