/* Homepage ================================================================================================================== */

/* Main navigation bar */
@media screen and (max-width: 600px)  {
    .topBar_container:nth-child(2) {
        margin-right: 0;
    }
    
    .topBar_container:nth-child(2) > div:nth-child(2), .topBar_container:nth-child(2) > div:nth-child(3) {
        width: calc(60px*0.6);
    }

    .topBar_container:nth-child(2) > div:nth-child(3) {
        margin-right: 10px;
    }
    
    #cart_icon {
        width: calc(26px*0.7);
        height: calc(34px*0.68);
    }

    #cart_icon_container {
        margin-right: 4px;
    }
    
    #cart_items {
        line-height: calc(23px*0.7);
        width: calc(23px*0.7);
        height: calc(0.7*23px);
        transform: translateX(calc(10px*0.5)) translateY(calc(7px*0.7)); 
        font-size: calc(var(--_size)*1.5);
    }
    
    #user_icon {
        width: calc(35px*0.7);            
        height: calc(35px*0.7);
    }
    
    #brand_icon {
        margin-right: calc(10px*0.5);
        height: 7vw;
        width: 15vw;
    }
    
    .dropdownList_container a {
        font-size: var(--_size);
        padding: calc((var(--topBar--height) - var(--_size)) / 2 - 1px) calc(20px*0.5);
    }
    
    /* not hovering, hide it */
    .dropdownList_container {
        padding: calc(10px*0.5);
    }
    
    /* vertical center the dropdown button at the top bar*/
    .dropdown_bt {
        height: var(--topBar--height);
        padding: calc(15px*0.3);
    }

    .phone_remove {
        display: none;
    }

    .computer_remove {
        display: block;
    }

    .computer_remove ul li {
        display: none;
    }

    .dropdown_bt span {
        font-size: calc(var(--_size)*1.4);
        transform: translateY(4px);
    }
    
    .dropdown_list ion-icon {
        margin-left: 5px;
        transform: translateY(3px);
        height: calc(var(--_size)*1.5);
        width: calc(var(--_size)*1.5);
    }
    
    .topBar_dropdown li ul li {
        width: calc(var(--_size)*20);
    }
    
    .topBar_dropdown li ul li a {
        padding: 12px 30px;
    }

    .searchBt_phone {
        height: var(--topBar--height);
        width: var(--topBar--height);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bt--primary);
    }

    .searchBt_phone:active {
        background-color: var(--bt--primary--hover);
    }

    .searchBt_phone ion-icon {
        color: white;
        font-size: 26px;
        --ionicon-stroke-width: 48px;
    }


    .searchBar_drop_shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(70%);
        z-index: 2;
        display: none;
    }

    /* just for center the search bar */
    .searchBar_container {
        width: 100%;
        display: none;
        justify-content: center;
    }

    .searchBar_phone {
        margin-top: 250px;
        width: calc(var(--_size)*35);
        height: calc(var(--topBar--height)*0.8);
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
    .searchBar_phone {
        background-color: var(--background--tertiary);
        box-shadow: 1px 3px 1.5em rgb(0, 0, 0);
      }
      
    .searchBar_phone button ion-icon {
        color: white;
    }
    
    .searchBar_phone input::placeholder {
        color: var(--tx--quinary)
    }
    
    .searchBar_phone button {
        background-color: var(--bt--primary);
    }
    
    .searchBar_phone button:active {
        background-color: var(--bt--primary--hover);
    }

    .searchBar_phone {
        border-radius: calc(var(--bg--radius));
    }
    
    .searchBar_phone input {
        border: none;
        outline: none;
        background: transparent;
    }
    
    .searchBar_phone button {
        border: none;
        border-radius: 0 calc(var(--bg--radius)) calc(var(--bg--radius)) 0;
    }

    .searchBar_phone input {
        width: 80%;
        height: 100%;
        padding-left: calc(var(--_size)*0.8);
    }
    
    .searchBar_phone ion-icon {
        width: 60%;
        height: 60%;
    }
    
    .searchBar_phone input::placeholder {
        font-size: var(--_size);
    }
    
    .searchBar_phone button {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* Heading */
@media screen and (max-width: 600px) {
    .heading {
        height: calc(600px*0.8);
        min-width: 100%;
        position: relative;
        overflow: hidden;
        top: 0%;
        display: flex;
        align-items:flex-end;
        justify-content: center;
    }

    .heading_fg {
        min-width: 100%;
        height: 35%;
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .heading_fg div {
        height: 60%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: var(--topBar--margin);
    }

    #heading_img {
        display: none;
    }

    #headingImg_phone_container {
        position: relative;
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

    #headingImg_phone {
        height: calc(var(--img--height)*2.1);
        width: calc(var(--img--width)*2.1);
        position: absolute;
        top: 135px;
        z-index: 1;
    }

    #headingImg_phone {
        box-shadow: var(--img--shadow);
    }
    
    #headingImg_phone:active {
        filter: brightness(120%);
        transition: 0.1s linear;
    }

    .heading_fg div a:nth-child(2) {
        padding: 2.4vw 2.4vw;
        font-size: calc(var(--_size)*1.1);
        text-align: center;
    }

    .heading_fg div a:nth-child(1) {
        font-size: calc(var(--_size)*1.6);
        text-align: center;
        letter-spacing: 1.5px;
    }

    .heading_bgImg {
        position: absolute;
        z-index: -1;
        transform: translateX(-10px);
        min-width: 105%;
        min-height: 105%;
    }


    #heading_scrollLeft, #heading_scrollRight {
        height: calc(var(--_size)*2);
        width: calc(var(--_size)*2);
    }

    #heading_scrollLeft {
        margin-left: 20px;
    }

    #heading_scrollRight {
        margin-left: 0px;
        margin-right: 20px;
    }

    .heading_fg div a:nth-child(3) {
        font-size: calc(var(--_size)*1.1);
        text-decoration: underline 1px;
    }
}

/* Recommendations */
@media screen and (max-width: 600px) {
    .recommendation {
        margin: var(--marginLine) var(--marginLine) 0 var(--marginLine);
    }

    .recommendation_1 {
        margin-top: 20px;
    }
    
    .bookList_scrollContainer {
        overflow-x: scroll;
        border-radius: var(--bg--radius);
        padding: 10px;
    }
    
    .bookList_scrollContainer::-webkit-scrollbar {
        display: none;
    }
    
    .bookList_topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(var(--_size)*0.5) var(--_size);
    }
    
    .bookList_topbar__text {
        font-size: calc(var(--_size)*1.2);
    }
    
    #bookList_topbar__scrollRight {
        height: calc(var(--_size)*1.4);
        width: calc(var(--_size)*1.4);
    }
    
    .bookList {
        margin-top: 25px;
        position: relative;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    
    .product_container {
        display: flex;
        justify-content: center;
    }
    
    .product_container:hover {
        transform: translateY(-2px);
    }
    
    .bookList::-webkit-scrollbar {
        display: none;
    }
    
    .bookList_productImg {
        position: absolute;
        transform: translateY(-30px);
        height: calc(var(--img--height));
        width: calc(var(--img--width));
    }
    
    .bookList_background {
        width: calc(var(--img--width)*2);
        height: calc(var(--img--height)*1.75);
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        align-items: center;
    }
    
    .bookList_bookInfo {
        margin-top: 16.3vw;
        text-align: center;
        width: calc(var(--bookTitle--width));
        overflow: hidden; 
        white-space: nowrap;
    }
    
    .bookList_bts__container {
        display: flex;
    }
    
    .bookList_title {
        font-size: calc(var(--_size)*1.1);
        
    }
    
    .bookList_author {
        font-size: calc(var(--_size)*0.9);
    }
    
    .bookList_price {
        font-size: calc(var(--_size));
        margin-top: 5px;
    }
    
    
    .bookList_productBts {
        margin: calc(var(--_size));
        display: block;
        height: var(--bt--size);
        width: var(--bt--size);
    }
    
    .bookList_productBts:hover {
        transform: translateY(-1px);
    }
}

/* Subscribe */
@media screen and (max-width: 900px) {
    .subscribe_imgs {
        display: none;
    }

    #subscribe_email {
        height: calc(50px*0.4);
        width: calc(300px*0.5);
        padding-left: calc(var(--_size));
        margin: 0 10px 0 5px;
        font-size: var(--_size);
    }

    .subscribe_info {
        position: relative;
        float: none;
    }
    
    .subscribe_info > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .subscribe_info > h2 {
        font-size: calc(var(--_size)*2);
        letter-spacing: 1px;
        margin-bottom: 35px;
        text-align: center;
    }
    
    .subscribe_info label {
        font-size: calc(var(--_size)*1.2);
    }
    
    .subscribe_info button {
        padding: 4px 5px;
        font-size: calc(var(--_size)*0.8);
    }
    
    .subscribe_outsideContainer {
        margin-top: calc(var(--marginLine)*3);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subscribe_container {
        height: calc(var(--img--height)*2.1);
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--marginLine) calc(var(--marginLine)) var(--marginLine) var(--marginLine);
    }
}

/* Business infomation */
@media screen and (max-width: 600px) {
    .business_container ul li a {
        font-size: calc(var(--_size));
    }
    
    .business_container ul li {
        margin: calc(var(--_size)*0.3) 0;
    }
    
    .business_container ul {
        margin: var(--marginLine) var(--marginLine) calc(var(--marginLine)*0.5) var(--marginLine);
    }
    
    .business_container div{
        margin: 0 var(--marginLine);
    }
    
    .business_container > div h2 {
        font-size: calc(var(--_size)*2);
        padding-top: calc(var(--_size)*4);
    }
    
    .business_container > div h3 {
        font-size: calc(var(--_size)*1.5);
        margin-top: calc(var(--_size)*2);
    }
    
    .business_container > div p {
        font-size: calc(var(--_size)*1.2);
        margin: calc(var(--_size)) 0;
        width: 60vw;
        text-align: left;
        line-height: calc(var(--_size)*2);
    }
    
    .socialApps {
        display: flex;
        align-items: center;
    }
    
    .socialApps img:nth-child(1){
        height: calc(38px * 0.3);
        width: calc(38px * 0.3);
        margin-top: 5px;
        margin-right: 5px;
    }

    .socialApps img:nth-child(2){
        height: calc(37px * 0.3);
        width: calc(40px * 0.3);
        margin-top: 5px;
    }
    
}

/* Footer */
@media screen and (max-width: 600px) {
    footer {
        padding: 5px var(--marginLine);
    }

    footer p {
        font-size: calc(var(--_size));
    }

    footer div img {
        /* the size is the original size of the icons */
        height: calc(37px * 0.4);
        width: calc(51px * 0.4);
        /* for centering the text on the left */
        transform: translateY(2px);
    }
}

/* Side cart */
@media screen and (max-width: 600px) {
    #cart_close {
        --ionicon-stroke-width: 32px;
        height: calc(32px*0.6);
        width: calc(32px*0.6);
    }
    
    .sideCart {
        border-radius: 0 0 var(--bg--radius) var(--bg--radius);
        box-shadow: var(--bg--shadow--hover);
        padding: var(--sideCart--padding);
    }
    
    .sideCart_title {
        border-bottom: 1px solid var(--tx--quinary);
        padding: var(--sideCart--padding) 0px;
    }
    
    .sideCart_title p {
        font-size: calc(var(--_size)*1.4);
    }
    
    .sideCart_title > p > span {
        padding: 2px;
    }
    
    .sideCart_items_container {
        margin-top: var(--sideCart--padding);
        max-height: 250px;
        grid-template-rows:none;
        gap: calc(var(--sideCart--padding));
        border-radius: var(--bg--radius);
        padding: 10px;
        /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.278); */
    }
    
    .sideCart_items {
        border: 1px solid var(--tx--quinary);
        border-radius: var(--bg--radius);
        padding: var(--sideCart--padding);
        height: calc(var(--img--height)*1.1);
    }
    
    .sideCart_items:hover {
        box-shadow: var(--bg--shadow--hover);
        transform: translateY(-1px);
    }
    
    .sideCart_items div img {
        height: calc(var(--img--height)*0.9);
        width: calc(var(--img--width)*0.9);
    }
    
    .sideCart_itemInfo {
        margin-left: var(--sideCart--padding);
    }
    
    .sideCart_itemInfo div p:nth-child(1) {
        width: var(--bookTitle--width);
        font-size: calc(var(--_size)*1.3);
    }
    
    .sideCart_itemInfo div p:nth-child(2) {
        padding-top: 2px;
        width: var(--bookTitle--width);
        font-size: calc(var(--_size));
    }
    
    .sideCart_itemInfo > p {
        font-size: calc(var(--_size)*1.2);
        padding-bottom: 3px;
    }
    
    .sideCart_items > div:nth-child(2) {
        height: 85px;
    }
    
    .sideCart_quantityContainer {
        font-size: calc(var(--_size));
        margin-bottom: 20px;
    }
    
    .sideCart_quantityContainer ion-icon {
        font-size: calc(var(--_size)*1.3);
        --ionicon-stroke-width: 40px;
    }
    
    .sideCart_removeBt {
        font-size: calc(var(--_size));
        margin-bottom: 3px;
    }
    
    .sideCart_quantityContainer span {
        margin-left: 5px;
    }
    
    .sideCart_quantityContainer span span{
        padding: 1px 8px;
        margin: 0 3px;
        font-size: calc(var(--_size));
        border-radius: 2px;
    }
    
    .orderNote_container {
        margin-top: var(--sideCart--padding);
        padding: var(--sideCart--padding);
        border-radius: var(--bg--radius);
    }
    
    .orderNote_container label{
        font-size: calc(var(--_size)*1.2);
    }
    
    .orderNote_container input {
        border: 1px solid var(--tx--quinary);
        border-radius: var(--bg--radius);
        height: 50px;
        width: 100%;
        padding: 5px;
    }
    
    .subtotalPrice_container {
        margin-top: var(--sideCart--padding);
        padding: var(--sideCart--padding);
        border-radius: var(--bg--radius);
    }
    
    .subtotalPrice_container > div:nth-child(1) > p:nth-child(1), 
    .subtotalPrice_container > div:nth-child(2) > p:nth-child(1),
    .subtotalPrice_container > div:nth-child(2) > p:nth-child(1) span {
        font-size: calc(var(--_size)*1.4);
    }
    
    .subtotalPrice_container > div:nth-child(1) > p:nth-child(2), 
    .subtotalPrice_container > div:nth-child(2) > p:nth-child(2),
    .subtotalPrice_container > div:nth-child(1) > p:nth-child(2) span {
        font-size: calc(var(--_size));
    }

    .sideCart_bts {
        margin: calc(var(--sideCart--padding)*1.8) 0;
    }
    
    .sideCart_bts a{
        font-size: calc(var(--_size)*1.2);
        height: calc(55px*0.6);
        width: calc(170px*0.6);
    }
    
    .sideCart_viewCart {
        margin-right: 15px;
        border: 1.5px solid var(--bt--secondary);
    }
      
    .sideCart_checkout {
        margin-left: 15px;
    }
    
    .sideCart_footer img {
        height: calc(37px * 0.4);
        width: calc(51px * 0.4);
    }    

}



/* Search result Page ============================================================================================================== */
@media screen and (max-width: 600px) {
    .searched_container {
        height: 26vw;
    }

    .searched_container > div > div:nth-child(1) input::placeholder {
        font-size: calc(var(--_size)*1.3);
    }
    
    .searched_container > div > div:nth-child(2) {
        margin-bottom: var(--topBar--margin);
    } 
    
    .searched_container > div > div:nth-child(2) p {
        font-size: calc(var(--_size)*1.3);
    }
    
    .searched_container > div > div:nth-child(2) button {
        font-size: calc(var(--_size)*1.3);
    }

    #searched_input {
        height: 10vw;
        width: 86vw;
        font-size: calc(var(--_size)*1.3);
        padding: 0 2vw;
        margin-bottom: var(--topBar--margin);
    }

    .product_container_phone {
        margin-top: 20vw;
        margin-bottom: 8vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3vw;
    }

    .bookList_background_phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background--tertiary);
        margin: 0 6vw;
        padding: 5vw;
        border-radius: var(--bg--radius);
        box-shadow: var(--bg--shadow--hover);
    }

    .bookList_bookInfo_phone {
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 3vw;
    }

    .bookList_bookInfo_phone p:nth-child(1) {
        font-size: 4.5vw;
        color: var(--tx--secondary);
    }

    .bookList_bookInfo_phone p:nth-child(2) {
        margin-bottom: 5vw;
        margin-top: 0.8vw;
        font-size: 3.2vw;
        color: var(--tx--tertiary);
    }

    .bookList_bookInfo_phone p:nth-child(3) {
        font-size: 3.6vw;
        color: var(--tx--secondary);
        margin-bottom: 1vw;
    }

    .bookList_background_phone > div:nth-child(1) {
        display: flex;
        align-items: center;
    }

    .bookList_bts_container_phone {
        display: flex;
        flex-direction: column;
    }

    .bookList_productImg_phone {
        height: 30vw;
        width: 19vw;
        float: left;
        box-shadow: var(--img--shadow);
    }

    .searchBtns {
        height: 8vw;
        width: 8vw;
        margin: 3vw
    }
}



/* Product Page ==================================================================================================================================== */
@media screen and (max-width: 600px) {
    .productPage_remove {
         display: none;
     }
    .product1_container {
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: var(--marginLine) calc(var(--marginLine)*2);
         margin: calc(var(--topBar--height)*1.5) var(--marginLine) var(--marginLine) var(--marginLine);
     }
 
     #product1_img {
         height: 45vw;
         width: 30vw;
         margin-top: 5vw;
     }
 
     #product1_img {
         box-shadow: 0px 3px 0.3em rgba(0, 0, 0, 0.584);
     }
 
     .productInfo {
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-left: 0vw;
     }
 
     .productInfo > div:nth-child(1) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
 
     /* .productInfo > div:nth-child(1) > div:nth-child(1) p {
         display: inline-block;
     } */
 
     .productInfo > div:nth-child(1) > div:nth-child(1) {
         margin-bottom: 1vw;
         margin-top: 4vw;
         display: flex;
         flex-direction: column;
         text-align: center;
     }
 
     .productInfo > div:nth-child(1) > div:nth-child(2) {
         margin-bottom: 1vw;
     }
 
 
     .productInfo > div:nth-child(1) > div:nth-child(2){
         display: flex;
         align-items: center;
     }
 
 
     .productInfo div div p:nth-child(1) {
         font-size: calc(var(--_size)*2.2);
         line-height: 1;
         letter-spacing: 2px;
     }
 
     .productInfo div div p:nth-child(2) {
         font-size: calc(var(--_size)*1.5);
         margin-bottom: 1vw;
     }
 
     .productInfo div div p:nth-child(3) {
         font-size: calc(var(--_size)*1.5);
     }
 
     .productInfo > div:nth-child(2) {
         margin-top: 1vw;
 
     }
 
     .productInfo > div:nth-child(2) p:nth-child(1) {
         font-size: calc(var(--_size)*1.2);
         margin-top: 1vw;
     }
 
     .productInfo > div:nth-child(2) p:nth-child(2) {
         padding-bottom: 2vw;
         font-size: calc(var(--_size)*1.3);
     }
 
     .productInfo > div:nth-child(2) p:nth-child(3) {
         padding-top: 2vw;
         border-top: 1px solid var(--tx--tertiary);
     }
 
     .productInfo > div:nth-child(2) p:nth-child(4) {
         margin-top: 2vw;
     }
 
     .product_bt {
         height: 9vw;
         width: 9vw;
         margin: 3vw 4vw;
     }
 
     .productPageBt_remove {
         display: block;
     }
 
 }



 /* Cart summary Page ================================================================================================ */

 @media screen and (max-width: 600px) {
    .cartSummary_heading {
        margin-top: calc(var(--topBar--height)*1.5);
        margin-left: var(--marginLine);
        letter-spacing: 0px;
        font-size: calc(var(--_size)*2);
    }
    
    .cartSummary_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2vw var(--marginLine);
        border-top: 1px solid var(--tx--secondary);
        padding-top: 4vw;
    }
    
    .cartSummary_itemsContainer {
        margin-left: 3vw;
        margin-bottom: 2vw;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2vw;
        height: 50vw;
    }
    
    #sideCart_item1 {
        margin-top: 0.2vw;
    }
    
    .summary_info {
        width: 85vw;
        height: 65vw;
        margin-right: 2.3vw;
        margin-bottom: 2vw;
    }
    
    .summary_checkout {
        height: 75vw;
        width: 100vw;
        margin-top: 5vw;
    }
    
    .checkout_priceInfo {
        display: flex;
        flex-direction:column;
        padding: 4vw 4vw 2vw 4vw;
    }
    
    .checkout_priceInfo div {
        padding-bottom: 1vw;
    }

    .checkout_priceInfo > div:nth-child(1) > p:nth-child(1) {
        font-size: calc(var(--_size)*1.5);
    }
    
    .checkout_priceInfo > div:nth-child(1) > p:nth-child(2) {
        font-size: calc(var(--_size)*1.4);
    }
    
    .checkout_priceInfo > div:nth-child(2) {
        font-size: calc(var(--_size)*1.2);
    }
    
    .checkout_orderNoteContainer {
        padding: 4vw;
    }
    
    .cartSummary_check, .cartSummary_shop {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8vw;
        text-decoration: none;
        font-size: calc(var(--_size)*1.3);
    }
    
    .cartSummary_check {
        margin-bottom: 1vw;
    }
    
    #checkout_orderNote {
        height: 17vw;

    }
    
    .summary_info > div:nth-child(2) {
        margin:3vw 3vw 0 3vw;
    }
    
    .summary_info > div:nth-child(2) p:nth-child(1) {
        font-size: calc(var(--_size)*1.2);
        margin-bottom: 1vw;
    }
    
    .checkout_orderNoteContainer label {
        font-size: calc(var(--_size)*1.2);
        margin-bottom: 0.5vw;
    }
    
    .summary_info > div:nth-child(2) p:nth-child(2) {
        font-size: calc(var(--_size));
        padding-left: 0.5vw;
    }
    
    .checkout_bts {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 4vw 1vw 4vw;
    }
    
    .cartSummary_footer {
        margin: 2vw 4vw 1vw 1vw;
    }
    
    .cartSummary_footer img {
        height: 3vw;
        width: 4vw;
    }
    
    .clickable_text.cart {
        margin-top: 4vw;
    }
}



/* Checkout Page =========================================================================================================== */
@media screen and (max-width: 600px) {

    .checkout_navbarContainer h2 {
        font-size: calc(var(--_size)*2);
        letter-spacing: 0px;
    }
    
    .checkout_navbarContainer {
        margin: calc(var(--topBar--height)*1.5) var(--marginLine) 0 var(--marginLine);
    }
    
    .checkout_navbarContainer div {
        padding: 0.5vw 0;
        display: flex;
        align-items: center;
    }
    
    .checkout_navbarContainer div a {
        font-size: calc(var(--_size)*1.1);
        padding-right: 0.5vw;
    }
    
    .checkout_navbarContainer div ion-icon {
        font-size: calc(var(--_size)*1.1);
        padding-right: 0.5vw;
    }
    
    .chekcout_areaContainer {
        margin-top: var(--marginLine);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .checkout {
        width: 90vw;
        margin-right: 0vw;
        margin-top: 4vw;
    }
    
    .checkout > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .checkout > div:nth-child(2) {
        margin-bottom: 1vw;
    }
    
    .checkout > div:nth-child(1) > div:nth-child(3) {
        margin-bottom: 1vw;
        display: none;
    }

    .checkout > div:nth-child(1) > div img {
        width: 29vw;
        height: 7vw;
    }
    
    .checkout > div:nth-child(1) p {
        font-size: calc(var(--_size)*1.1);
        margin-bottom: 1vw;
    }
    
    .checkout > div:nth-child(1) > div img:nth-last-child(n+2) {
        margin-right: 2vw;
    }
    
    .checkout > div:nth-child(2) span {
        padding: 0 1vw;
        font-size: calc(var(--_size)*1.1);
    }
    
    .checkout > div:nth-child(2) hr {
        width: 100%;
    }
    
    .chekcout_form input, .chekcout_form select {
        height: 7vw;
        padding: 0.3vw;
        font-size: calc(var(--_size)*1.3);
    }

    /* trying to adjust the font-size of the options in selection in phone version*/
    /* .chekcout_form select option {
        font-size: calc(var(--_size)*2.3);
    }*/

    .chekcout_form label:nth-child(n+1) {
        font-size: var(--_size);
    }
    
    .checkout_subtitle {
        font-size: calc(var(--_size)*1.6);
        margin-bottom: 0.5vw;
    }
    
    .form_adjust {
        margin-top: 1vw;
    }
    
    .chekcout_form > div p:nth-child(2) {
        font-size: calc(var(--_size));
        padding-top: 0.2vw;
    }
    
    .form_checkbox{
        margin-bottom: 1vw;
        margin-top: 0.5vw;
    }
    
    .form_checkbox label {
        margin-left: 0.5vw;
    }
    
    
    .form_region div input, .form_region div select {
        width: 28.5vw;
    }
    
    .form_name, .orderSummary_priceInfo div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .form_name div, .form_region div, .orderSummary_priceInfo {
        display: flex;
        flex-direction: column;
    }
    
    #firstName, #lastName {
        width: 44vw;
    }
    
    .nextStep {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2vw;
    }
    
    .nextStep input {
        background-color: var(--bt--primary);
        color: white;
        border: none;
        cursor: pointer;
        font-size: calc(var(--_size)*1.2);
        padding: 0vw 4vw;
        height: 6vw;
        border-radius: var(--bg--radius);
    }
    
    .nextStep a {
        color: var(--clickable);
        font-size: calc(var(--_size)*1.2);
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .nextStep input:hover {
        background-color: var(--bt--primary--hover);
    }
    
    .orderSummary > p {
        text-align: left;
        font-size: calc(var(--_size)*1.6);
        border-bottom: 1px solid var(--tx--quartus);
        padding-bottom: 1vw;
    }
    
    .orderSummary {
        height: 88vw;
        width: 100vw;
        padding: 2vw;
        border-radius: 0;
        display: none;
        background-color: var(--background--tertiary);
    }

    .open_orderSummaryContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:3vw 0 3vw 3vw;
        background-color: var(--background--secondary);
    }

    .open_orderSummaryContainer > p {
        color: var(--tx--secondary);
        margin-right: 5vw;
    }

    .open_orderSummaryContainer > p span {
        color: var(--important);
    }

    .open_orderSummaryContainer div {
        display: flex;
        align-items: center;
    }

    .open_orderSummaryContainer div p {
        font-size: calc(var(--_size)*1.5);
        color: var(--clickable);
        margin-left: 2vw;
        text-decoration: underline 1.3px;
    }

    #open_icon {
        color: var(--clickable);
        margin-left: 1vw;
    }
    
    .open_orderSummaryContainer img {
        height: 4.5vw;
        width: 3.5vw;
        transform: translateY(-1px);
    }

    .orderSummary_discountCode {
        margin-top: 5vw;
    }
    
    .orderSummary_discountCode input {
        width: 84vw;
        height: 10vw;
        padding: 1vw
    }
    
    .orderSummary_discountCode button {
        height: 10vw;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .orderSummary_discountCode button ion-icon {
        font-size: calc(var(--_size)*2);
    }
    
    .orderSummary_priceInfo {
        margin-top: 5vw;
        border-top: 1px solid var(--tx--tertiary);
        padding-top: 3vw;
    }
    
    .orderSummary_priceInfo > p {
        font-size: var(--_size);
    }
    
    .orderSummary_priceInfo > div:nth-child(2) > p:nth-child(2) {
        text-align: end;
    }
    
    .orderSummary_priceInfo div:nth-last-child(n+2) p {
        font-size: calc(var(--_size)*1.2);
        margin-bottom: 0.5vw;
    }
    
    .orderSummary_priceInfo div:nth-child(3) p {
        font-size: calc(var(--_size)*1.6);
    }
    
    .sideCart_items_container.order {
        height: 40vw;
    }
    
    .sideCart_items.order {
        height: 23vw;
    }
    
    .sideCart_items.order div div img {
        height: 18vw;
        width: 12vw;
    }
    
    .sideCart_quantityContainer.order {
        margin-bottom: 3vw;
    }
    
    .sideCart_removeBt.order {
        margin-bottom: 2vw;
    }
}



/* For "checkout shipping method" under checkout page */
@media screen and (max-width: 600px) {

    input[type="radio"] {
        height: 2.5vw;
        width: 2.5vw;
    }

    input[type="checkbox"] {
        height: 2.5vw;
        width: 2.5vw;
    }

    .checkout_shipping {
        width: 90vw;
        margin-right: 0vw;
        margin-top: 4vw;
        display: none;
    }
    
    #user_email, #user_address{
        width: 50vw;
    }
    
    .shipping_info {
        padding: 2vw 3vw;
    }
    
    .shipping_info > div:nth-child(1) {
        margin-bottom: 1vw;
        padding-bottom: 0.5vw;
    }
    
    .shipping_info > div:nth-child(3) {
        margin-top: 0.5vw;
        padding-top: 1vw;
    }
    
    .shipping_info div div p:nth-child(1) {
        font-size: calc(var(--_size)*1.3);
    }
    
    .shipping_info div div p:nth-child(2), .shipping_info div a, #shipping_express{
        font-size: calc(var(--_size)*1.1);
    }
    
    .shipping_info div:nth-child(1) div p:nth-child(1) {
        padding-right: 4vw;
    }
    
    .shipping_info div:nth-child(2) div p:nth-child(1) {
        padding-right: 5.9vw;
    }
    
    .shipping_info div:nth-child(3) div p:nth-child(1) {
        padding-right: 4.7vw;
    }
    
    .shipping_info > div:nth-last-child(1) {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .shipping_info div div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .shipping_method {
        margin-top: 2vw;
    }
    
    .shipping_method > p {
        font-size: calc(var(--_size)*1.6);
        margin-bottom: 0.5vw;
    }
    
    #shipping_form > div:nth-child(1) > div {
        display: flex;
        justify-content: space-between;
        padding: 2vw 3vw;
    } 
    
    #shipping_form > div:nth-child(1) div div label, #shipping_form > div:nth-child(1) div p {
        font-size: calc(var(--_size)*1.3);
    }
    
    #payment {
        margin-top: 2vw;
    }
    
    #payment > p:nth-child(1), #payment > p:nth-of-type(3) {
        font-size: calc(var(--_size)*1.6);
    }
    
    #payment > p:nth-of-type(3) {
        margin-top: 2vw;
    }
    
    #payment > div:nth-of-type(2) {
        padding: 2vw 3vw;
    }
    
    #payment > p:nth-child(2) {
        font-size: calc(var(--_size)*1.1);
        margin-bottom: 0.5vw;
    }
    
    .payment_creditCard > div {
        padding: 2vw 3vw;
    }

    .payment_creditCard > div:nth-child(1) div img {
        height: 3vw;
        width: 4vw;
    }

    .payment_creditCard > div:nth-child(1) div label, .payment_paypal label, .payment_pOrder label,
    #payment > div:nth-of-type(2) label{
        font-size: calc(var(--_size)*1.3);
    }
    
    .payment_creditCard > div:nth-child(2) div label {
        font-size: var(--_size);
    }
    
    .payment_creditCard > div:nth-child(2) div input {
        height: 7vw;
        padding-left: 0.5vw;
        font-size: var(--_size);
    }
    
    .payment_creditCard > div:nth-child(2) > div:nth-child(n+2) {
        margin-top: 0.5vw;
    }
    
    .payment_creditCard > div:nth-child(2) div:nth-child(3) div input {
        width: 40vw;
    }
    
    .payment_paypal, .payment_pOrder{
        display: flex;
        align-items: center;
        padding: 2vw 3vw;
    }
    
    .payment_paypal {
        justify-content: space-between;
    }
    
    .payment_paypal img {
        height: 2.5vw;
        width: 9.5vw;
    }
    
}



/* Payment success popup ============================================================================================================ */
@media screen and (max-width: 600px) {
    #adjustPopup {
        position: absolute;
        display: none;
        justify-content: center;
        width: 100%;
        z-index: 1;
    }
    
    #popup_dropShadow {
        position: absolute;
        display: none;
        width: 100%;
        height: 104%;
        z-index: 1;
        transform: translateY(-20vw);
    }
    
    .popup_container {
        padding: 5vw;
        width: 93vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .popup_container > a {
        margin-top: 6vw;
        color: var(--clickable);
        font-size: calc(var(--_size)*1.3);
        text-decoration: underline 0.15vw;
    }
    
    .popup_container > div:nth-of-type(1) {
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 1vw;
    }
    
    .popup_container > div:nth-of-type(1) ion-icon {
        font-size: calc(var(--_size)*4);
    }
    
    .popup_container > div:nth-of-type(1) p {
        font-size: calc(var(--_size)*1.8);
        line-height: 4.5vw;
        width: 60vw;
        margin-left: 1vw;
    }
    
    .popup_container > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    } 
    
    .popup_container > div:nth-of-type(2) > div:nth-of-type(1) {
        padding-top: 3vw;
        padding-right: 0vw;
        border-right: none;
    }
    
    .recipt_container {
        padding-left: 0vw;
        margin-right: 2vw;
        margin-top: 2vw;
        padding-top: 2vw;
    }
    
    .popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div {
        margin-top: 3vw;
        padding-top: 2vw;
    }
    
    .popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div p:nth-child(1) {
        margin-bottom: 0.3vw;
    }
    
    .popup_container > div:nth-of-type(2) > div:nth-of-type(2) > p, 
    .popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div p:nth-child(1) {
        font-size: calc(var(--_size)*1.4);
    }
    
    .popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div ion-icon,
    .popup_container > div:nth-of-type(2) > div:nth-of-type(2) ion-icon {
        font-size: calc(var(--_size)*2);
        margin-right: 0.5vw;
    }
    
    .recipt_container div {
        margin-top: 1vw;
    }
    
    #final_shipAddress, #estDate, .recipt_container div p {
        font-size: calc(var(--_size)*1.2);;
    }
    
    .sideCart_items_container.popup {
        height: 50vw;
        margin-top: 0;
        padding: 1vw 0 0 0;
    }    
}