/* Homepage ================================================================================================================== */
/* Main navigation bar */
.topBar {
    height: var(--topBar--height);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0%;
    z-index: 2;
}

.topBar_container:nth-child(1) {
    margin-left: var(--marginLine);
    display: flex;
    align-items: center;
}
.topBar_container:nth-child(2) {
    margin-right: calc(var(--marginLine) - var(--profile--padding));
    display: flex;
    align-items: center;
}

.topBar_container:nth-child(2) > div:nth-child(2), .topBar_container:nth-child(2) > div:nth-child(3) {
    width: 4vw;
    height: var(--topBar--height);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart_icon, #user_icon {
    display: block;
}

#cart_icon_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart_icon {
    width: 1.625vw;
    height: 2.125vw;
}

#cart_items {
    position: absolute;
    text-align: center;
    line-height: 1.438vw;
    width: 1.438vw;
    height: 1.438vw;
    transform: translateX(0.625vw) translateY(0.432vw);   
    font-size: calc(var(--_size)*1.1);
}

#user_icon {
    width: 2.188vw;            
    height: 2.188vw;
}

#brand_icon {
    height: 3.5vw;
    width: 7.5vw;
    margin-right: 1vw;
}

.topBar_dropdown {
    float: left;
}

.topBar_dropdown li {
    float: left;
    position: relative;
}

.dropdownList_container a {
    display: block;
    font-size: var(--_size);
    padding: calc((var(--topBar--height) - var(--_size)) / 2 - 1px) 1.6vw;
}

.dropdownList_container {
    display: none;
    position: absolute;
    padding: 0.8vw;
}

.dropdown_bt {
    height: var(--topBar--height);
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_bt span {
    font-size: calc(var(--_size)*1.1);
    transform: translateY(3.3px);
}

.dropdown_list ion-icon {
    margin-left: 0.4vw;
    transform: translateY(2.5px);
    height: calc(var(--_size)*1.2);
    width: calc(var(--_size)*1.2);
}

.dropdown_list:hover ul{
    display: block;
}

.topBar_dropdown li ul li {
    width: calc(var(--_size)*25);
}

.topBar_dropdown li a {
    font-size: var(--_size);
}

.topBar_dropdown li ul li a {
    padding: 0.75vw 1.875vw;
}

.computer_remove {
    display: none;
}

.searchBar {
    width: calc(var(--_size)*20);
    height: calc(var(--topBar--height)*0.6);
    margin-right: var(--topBar--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar input {
    width: 88%;
    height: 100%;
    padding-left: calc(var(--_size)*0.8);
}

.searchBar ion-icon {
    width: 60%;
    height: 60%;
}

.searchBar input::placeholder {
    font-size: var(--_size);
}

.searchBar button {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchBt_phone {
    display: none;
}



/* Heading ================================================================================================================================================= */
.heading {
    height: 40vw;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    top: 0%;
    display: flex;
    align-items:flex-end;
}

.heading_fg {
    width: 100%;
    height: 20vw;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.heading_fg div {
    height: 60%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading_img {
    margin-right: 14.5vw;
    height: 28vw;
    width: 18vw;
    position: absolute;
    right: 0;
}

#headingImg_phone_container {
    display: none;
}

.heading_fg div a:nth-child(3) {
    font-size: 1.3vw;
}

.heading_fg div a:nth-child(2) {
    padding: 1vw 6vw 1vw 6vw;
    font-size: 1.5vw;
    text-align: center;
}

.heading_fg div a:nth-child(1) {
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.176vw;
}

.heading_bgImg {
    position: absolute;
    z-index: -1;
    transform: translateX(-10px);
    min-width: 105%;
    min-height: 105%;
}


#heading_scrollLeft, #heading_scrollRight {
    height: calc(var(--_size)*2);
    width: calc(var(--_size)*2);
}

#heading_scrollLeft {
    margin-left: 1vw;
}

#heading_scrollRight {
    margin-left: 33.1vw;
}

/* Recommendation ================================================================================================================================================= */
.recommendation {
    margin: var(--marginLine) var(--marginLine) 0 var(--marginLine);
}

.bookList_scrollContainer {
    overflow-x: scroll;
    border-radius: var(--bg--radius);
    /* padding: 0.1vw; */
}

.bookList_scrollContainer::-webkit-scrollbar {
    display: none;
}

.bookList_topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--_size)*0.8) var(--_size);
    margin-bottom: 0.5vw;
}

.bookList_topbar__text {
    font-size: calc(var(--_size)*1.2);
}

#bookList_topbar__scrollRight {
    height: calc(var(--_size)*1.5);
    width: calc(var(--_size)*1.5);
}

.bookList {
    margin-top: 5vw;
    position: relative;
    padding: 0.8vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.6vw;
}

.product_container {
    display: flex;
    justify-content: center;
}

.product_container:hover {
    transform: translateY(-2px);
}

.bookList::-webkit-scrollbar {
    display: none;
}

.bookList_productImg {
    position: absolute;
    transform: translateY(-3.6vw);
    height: calc(var(--img--height)*1.1);
    width: calc(var(--img--width)*1.1);
}

.bookList_background {
    width: calc(var(--img--width)*2);
    height: calc(var(--img--height)*1.75);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}

.bookList_bookInfo {
    margin-top: 71%;
    text-align: center;
    width: calc(var(--bookTitle--width));
    overflow: hidden;
    white-space: nowrap;
}

.bookList_bts__container {
    display: flex;
}

.bookList_title {
    font-size: calc(var(--_size)*1.2);
    
}

.bookList_author {
    font-size: calc(var(--_size)*0.95);
}

.bookList_price {
    font-size: calc(var(--_size)*1.1);
    margin-top: 0.4vw;
}


.bookList_productBts {
    margin: calc(var(--_size));
    display: block;
    height: var(--bt--size);
    width: var(--bt--size);
}

.bookList_productBts:hover {
    transform: translateY(-1px);
}



/* Subscribe ================================================================================================================================================= */
.subscribe_info {
    position: relative;
}

.subscribe_info > div {
    display: flex;
    align-items: center;
}

.subscribe_info > h2 {
    font-size: calc(var(--_size)*2.5);
    letter-spacing: 0.16vw;
    margin-bottom: 6.6vw;
}

.subscribe_info label {
    font-size: calc(var(--_size)*1.5);
}

#subscribe_email {
    height: 3vw;
    width: 24vw;
    padding-left: calc(var(--_size));
    margin: 0 1.6vw 0 0.8vw;
    font-size: var(--_size);
}

.subscribe_info button {
    padding: 0.84vw 0.5vw;
}

.subscribe_outsideContainer {
    margin-top: calc(var(--marginLine)*3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_container {
    height: calc(var(--img--height)*2.1);
    min-width: 100%;
    display: flex;
    align-items: center;
    padding: var(--marginLine) calc(var(--marginLine)*10) var(--marginLine) var(--marginLine);
}

.subscribe_info {
    float: left;
}

.subscribe_imgs {
    position: absolute;
    transform: translateX(260px);
}

.holdAnimation{
    position: absolute;
    height: calc(var(--img--height)*1.9);
    width: calc(var(--img--width)*1.9);
}



/* Business information ================================================================================================================================================= */
.business_container ul li a {
    font-size: calc(var(--_size)*1.3);
}

.business_container ul li {
    margin: var(--_size) 0;
}

.business_container ul {
    margin: var(--marginLine) var(--marginLine) calc(var(--marginLine)*0.5) var(--marginLine);
}

.business_container div{
    margin: 0 var(--marginLine);
}

.business_container > div h2 {
    font-size: calc(var(--_size)*2.5);
    padding-top: calc(var(--_size)*6);
}

.business_container > div h3 {
    font-size: calc(var(--_size)*1.5);
    margin-top: calc(var(--_size)*3);
}

.business_container > div p {
    font-size: calc(var(--_size)*1.2);
    margin: calc(var(--_size)*1.4) 0;
    width: 60vw;
    text-align: left;
    line-height: calc(var(--_size)*2);
}

.socialApps {
    display: flex;
    align-items: center;
}

.socialApps img:nth-child(1){
    height: calc(38px * 0.6);
    width: calc(38px * 0.6);
    margin-bottom: var(--marginLine);
    margin-right: 0.4vw;
}
.socialApps img:nth-child(2){
    height: calc(37px * 0.601);
    width: calc(40px * 0.595);
    margin-bottom: var(--marginLine);
}



/* footer ================================================================================================================================================= */
footer {
    padding: 10px var(--marginLine);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: calc(var(--_size)*1.2);
}

footer div img {
    /* the size is the original size of the icons */
    height: 2vw;
    width: 3vw;
    /* for centering the text on the left */
    transform: translateY(0.15vw);
}



/* Side cart ================================================================================================================================================= */

#cart_close {
    --ionicon-stroke-width: 3vw;
    height: 2.6vw;
    width: 2.6vw;
}

.sideCart_title, .sideCart_items, .subtotalPrice_container, .sideCart_bts, 
.sideCart_items > div:nth-child(1), .sideCart_itemInfo {
    display: flex;
}

.sideCart {
    display: none;
    position: absolute;
    right: 0%;
    max-width: 80%;
    max-height: 700px;
    overflow-y: scroll;
    top: var(--topBar--height);
    flex-direction: column;
    justify-content: center;
    padding: var(--sideCart--padding);
    z-index: 1;
}

.sideCart_title, .sideCart_items{
    justify-content: space-between;
    align-items: center;
}

.sideCart_title {
    padding: var(--sideCart--padding) 0px;
}

.sideCart_title p {
    font-size: calc(var(--_size)*1.5);
}

.sideCart_title > p > span {
    padding: 0.16vw;
}

.sideCart_items_container {
    margin-top: var(--sideCart--padding);
    max-height: 400px;
    overflow-y: scroll;
    display: grid;
    gap: var(--sideCart--padding);
    align-items: center;
    padding: 0.8vw;
}

.sideCart_items_container::-webkit-scrollbar {
    display: none;
}

.sideCart_items {
    padding: var(--sideCart--padding);
    align-items: center;
}

.sideCart_items:hover {
    box-shadow: var(--bg--shadow--hover);
    transform: translateY(-1px);
}

.sideCart_items div img {
    height: calc(var(--img--height)*0.8);
    width: calc(var(--img--width)*0.8);
}

.sideCart_itemInfo {
    margin-left: var(--sideCart--padding);
    flex-direction: column;
    justify-content: space-between;
}

.sideCart_itemInfo > p {
    font-size: calc(var(--_size));
}

.sideCart_itemInfo div {
    float: left;
}

.sideCart_itemInfo div p:nth-child(1) {
    width: var(--bookTitle--width);
    font-size: calc(var(--_size)*1.1);
}

.sideCart_itemInfo div p:nth-child(2) {
    padding-top: 0.6vw;
    width: var(--bookTitle--width);
    font-size: calc(var(--_size));
}

.sideCart_itemInfo > p {
    padding-bottom: 0.38vw;
}

.sideCart_items > div:nth-child(2) {
    height: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sideCart_quantityContainer {
    display: flex;
    align-items: center;
    font-size: calc(var(--_size));
    margin-bottom: 2.75vw;
}

.sideCart_quantityContainer ion-icon {
    font-size: calc(var(--_size)*1.3);
    --ionicon-stroke-width: 3.3vw;
}

.sideCart_removeBt {
    font-size: calc(var(--_size));
    display: block;
    text-align: end;
    margin-bottom: 0.4vw;
}

.sideCart_quantityContainer span {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}

.sideCart_quantityContainer span span{
    padding: 1px 0.9vw;
    margin: 0 0.2vw;
    font-size: calc(var(--_size));
}

.orderNote_container {
    margin-top: var(--sideCart--padding);
    padding: var(--sideCart--padding);
}

.orderNote_container label{
    display: block;
    font-size: calc(var(--_size)*1.1);
}

.orderNote_container input {
    height: 6vw;
    width: 100%;
    padding: 0.8vw;
}

.subtotalPrice_container {
    justify-content: space-between;
    margin-top: var(--sideCart--padding);
    padding: var(--sideCart--padding);
}

.subtotalPrice_container > div:nth-child(1) > p:nth-child(1), 
.subtotalPrice_container > div:nth-child(2) > p:nth-child(1),
.subtotalPrice_container > div:nth-child(2) > p:nth-child(1) span {
    font-size: calc(var(--_size)*1.4);
}

.subtotalPrice_container > div:nth-child(1) > p:nth-child(2), 
.subtotalPrice_container > div:nth-child(2) > p:nth-child(2),
.subtotalPrice_container > div:nth-child(1) > p:nth-child(2) span {
    font-size: calc(var(--_size));
}
 
.subtotalPrice_container div:nth-child(2) p:nth-child(1) {
    text-align: end;
}

.subtotalPrice_container > div:nth-child(2),
.subtotalPrice_container > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideCart_bts {
    justify-content: center;
    margin: calc(var(--sideCart--padding)*2) 0;
}

.sideCart_bts a {
    font-size: calc(var(--_size)*1.2);
    height: 4.4vw;
    width: 13.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideCart_viewCart {
    margin-right: 0.75vw;
}
  
.sideCart_checkout {
    margin-left: 0.75vw;
}

.sideCart_footer {
    float: right;
}

.sideCart_footer img {
    height: 2vw;
    width: 3vw;
}




/* Search result Page ============================================================================================================================================================================================================= */
.searched_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: var(--topBar--height);
    height: 12vw;
  }

.searched_container div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searched_container > div:nth-child(1) {
    width: 85vw;
}

#searched_input {
    height: 5vw;
    width: 85vw;
    font-size: calc(var(--_size)*1.2);
    padding: 0 1vw;
    margin-bottom: var(--topBar--margin);
}

.searched_container > div > div:nth-child(1) input::placeholder {
    font-size: calc(var(--_size)*1.2);
}

.searched_container > div > div:nth-child(2) {
    margin-bottom: var(--topBar--margin);
} 

.searched_container > div > div:nth-child(2) p {
    font-size: calc(var(--_size)*1.3);
    margin-left: 0.1vw;
}

.searched_container > div > div:nth-child(2) button {
    font-size: calc(var(--_size)*1.3);
    margin-right: 0.1vw;
    display: flex;
    align-items: center;
}

.searchResult {
    margin-top: 2vw;
}

.searchResult_container {
    padding: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1vw; 
}

.searchResult_1 {
    margin-top: 6vw;
}

.clickable_text {
    display: block;
    font-size: calc(var(--_size)*1.2);
    text-align:center;
    margin-top: 8vw;
}

.adjustMargin {
    margin-top: calc(var(--marginLine)*2.5);
}

#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #item_8, #item_9, #item_10, #item_11, #item_12 {
    display: none;
}

.changeResults {
    justify-content: space-between;
    margin: var(--marginLine);
}

.changeResults > div, .changeResults{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.changeResults > div:nth-of-type(2) a:hover, .changeResults > div:nth-of-type(1):hover, .changeResults > div:nth-of-type(3):hover {
    color: var(--clickable);
    border-color: var(--clickable);
}

.changeResults > div p {
    cursor: pointer;
}

.changeResults > div:nth-of-type(1), .changeResults > div:nth-of-type(3) {
    border-bottom: 1px solid black;
}

.changeResults > div:nth-of-type(2) a:nth-of-type(1) {
    padding-bottom: 0.5vw;
    border-bottom: 1px solid black;
}



/* Product Page ==================================================================================================================================== */
  
.product1_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--marginLine) calc(var(--marginLine)*2);
    margin: calc(var(--topBar--height)*2) var(--marginLine) var(--marginLine) var(--marginLine);
}

#product1_img {
    height: 32vw;
    width: 26vw;
}

.productInfo {
    margin-left: 7vw;
}

.productInfo > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 1vw;
}

.productInfo > div:nth-child(1) > div:nth-child(2) {
    margin-bottom: 1vw;
}


.productInfo > div:nth-child(1) > div:nth-child(2){
    display: flex;
    align-items: center;
}


.productInfo div div p:nth-child(1) {
    font-size: calc(var(--_size)*2.5);
    line-height: 1;
    letter-spacing: 2px;
}

.productInfo div div p:nth-child(2) {
    font-size: calc(var(--_size)*1.5);
    margin-bottom: 1vw;
}

.productInfo div div p:nth-child(3) {
    font-size: calc(var(--_size)*1.5);
}

.productInfo > div:nth-child(2) {
    margin-top: 1vw;

}

.productInfo > div:nth-child(2) p:nth-child(1) {
    font-size: calc(var(--_size)*1.2);
}

.productInfo > div:nth-child(2) p:nth-child(2) {
    padding-bottom: 1vw;
}

.productInfo > div:nth-child(2) p:nth-child(n+2) {
    font-size: calc(var(--_size)*1.1);
}

.productInfo div:nth-child(1) div button {
    font-size: calc(var(--_size)*1.5);
}

.product_viewCart {
    width: 20vw;
    height: 3.8vw;
}

.product_bt {
    height: 3.8vw;
    width: 3.8vw;
    margin: 0 0 0 3vw;
}

.productPageBt_remove {
    display: none;
}


  
/* Cart summary Page ================================================================================================ */

.cartSummary_heading {
    margin-top: calc(var(--topBar--height)*1.5);
    margin-left: var(--marginLine);
    letter-spacing: 2px;
    font-size: calc(var(--_size)*2.5);
}

.cartSummary_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vw var(--marginLine);
    padding-top: 2vw;
}

.cartSummary_itemsContainer {
    margin-bottom: 2vw;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1vw;
    height: 32vw;
}

#sideCart_item1 {
    margin-top: 0.2vw;
}


.summary_info {
    width: 40vw;
    height: 40vw;
    margin-right: 8vw;
}

.summary_checkout {
    height: 40vw;
    width: 35vw;
}

.checkout_priceInfo {
    display: flex;
    flex-direction:column;
    padding: 2vw 2vw 1vw 2vw;
}

.checkout_priceInfo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5vw;
}

.checkout_priceInfo > div:nth-child(2) p:nth-child(2) {
    margin-left: 5vw;
    text-align: right;
}

.checkout_priceInfo > div:nth-child(1) > p:nth-child(1) {
    font-size: calc(var(--_size)*2);
}

.checkout_priceInfo > div:nth-child(1) > p:nth-child(2) {
    font-size: calc(var(--_size)*1.7);
}

.checkout_priceInfo > div:nth-child(2) {
    font-size: calc(var(--_size)*1.2);
}

.checkout_orderNoteContainer {
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw 3vw 2vw;
}

.cartSummary_check, .cartSummary_shop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vw;
    font-size: calc(var(--_size)*1.4);
}

.cartSummary_check {
    margin-bottom: 0.5vw;
}

#checkout_orderNote {
    height: 8vw;
}

.summary_info > div:nth-child(2) {
    padding-left: 0.5vw;
    margin-top: 2.5vw;
    padding-right: 1.5vw;
}

.summary_info > div:nth-child(2) p:nth-child(1) {
    font-size: calc(var(--_size)*1.2);
    margin-bottom: 1vw;
}

.checkout_orderNoteContainer label {
    font-size: calc(var(--_size)*1.2);
    margin-bottom: 0.5vw;
}

.summary_info > div:nth-child(2) p:nth-child(2) {
    font-size: calc(var(--_size));
}

.checkout_bts {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2vw 1vw 2vw;
}

.cartSummary_footer {
    margin: 2vw 1vw 1vw 1vw;
}

.cartSummary_footer img {
    height: 1.7vw;
    width: 2.5vw;
}



/* Checkout Page =========================================================================================================== */

.checkout_navbarContainer h2 {
    font-size: calc(var(--_size)*2.5);
    letter-spacing: 2px;
}

.checkout_navbarContainer {
    margin: calc(var(--topBar--height)*1.5) var(--marginLine) 0 var(--marginLine);
}

.checkout_navbarContainer div {
    padding: 0.5vw 0;
    display: flex;
    align-items: center;
}

.checkout_navbarContainer div a, 
.checkout_navbarContainer div ion-icon {
    font-size: calc(var(--_size)*1.1);
    padding-right: 0.5vw;
}

.chekcout_areaContainer {
    margin-top: var(--marginLine);
    display: flex;
    justify-content: center;
}

.checkout {
    width: 43vw;
    margin-right: 7vw;
}

.checkout > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout > div:nth-child(2) {
    margin-bottom: 1vw;
}

.checkout > div:nth-child(2), .checkout > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkout > div:nth-child(1) > div {
    margin-bottom: 1vw;
}

.checkout > div:nth-child(1) > div img {
    width: 13vw;
    height: 3vw;
}

.checkout > div:nth-child(1) p {
    font-size: calc(var(--_size)*1.1);
    margin-bottom: 1vw;
}

.checkout > div:nth-child(1) > div img:nth-last-child(n+2) {
    margin-right: 2vw;
}

.checkout > div:nth-child(2) span {
    padding: 0 1vw;
    font-size: calc(var(--_size)*1.1);
}

.checkout > div:nth-child(2) hr {
    width: 100%;
}

.chekcout_form {
    display: flex;
    flex-direction: column;
}

.chekcout_form input, .chekcout_form select {
    height: 3vw;
    padding: 0.3vw;
    font-size: calc(var(--_size)*1.1);
}

.chekcout_form label:nth-child(n+1) {
    font-size: calc(var(--_size)*1.1);
}

.checkout_subtitle {
    font-size: calc(var(--_size)*1.6);
    margin-bottom: 0.5vw;
}

.form_adjust {
    margin-top: 1vw;
}

.chekcout_form > div p:nth-child(2) {
    font-size: calc(var(--_size));
    padding-top: 0.2vw;
}

.chekcout_form > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form_checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.form_checkbox label {
    margin-left: 0.5vw;
}

.form_region {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.form_region div input, .form_region div select {
    width: 13.7vw;
}

.form_name, .orderSummary_priceInfo div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_name div, .form_region div, .orderSummary_priceInfo {
    display: flex;
    flex-direction: column;
}

#firstName, #lastName {
    width: 21vw;
}

.nextStep {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}

.nextStep input {
    font-size: calc(var(--_size)*1.2);
    padding: 0vw 2vw;
    height: 3.5vw;
}

.nextStep a {
    font-size: calc(var(--_size)*1.2);
    display: flex;
    align-items: center;
}

.orderSummary > p {
    text-align: left;
    font-size: calc(var(--_size)*1.6);
    padding-bottom: 1vw;
}

.orderSummary {
    height: 55.5vw;
    width: 40vw;
    padding: 2vw;
}

.orderSummary_discountCode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderSummary_discountCode input {
    width: 31vw;
    height: 4vw;
    padding: 0.4vw
}

.orderSummary_discountCode button {
    height: 4vw;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderSummary_discountCode button ion-icon {
    font-size: calc(var(--_size)*2);
}

.orderSummary_priceInfo {
    margin-top: 2vw;
    padding-top: 1vw;
}

.orderSummary_priceInfo > p {
    font-size: var(--_size);
}

.orderSummary_priceInfo > div:nth-child(2) > p:nth-child(2) {
    text-align: end;
}

.orderSummary_priceInfo div:nth-last-child(n+2) p {
    font-size: calc(var(--_size)*1.2);
    margin-bottom: 0.5vw;
}

.orderSummary_priceInfo div:nth-child(3) p {
    font-size: calc(var(--_size)*1.6);
}

.sideCart_items_container.order {
    height: 28vw;
}

.sideCart_items.order {
    height: 9vw;
}

.sideCart_items.order div div img {
    height: 7vw;
    width: 4.5vw;
}

.sideCart_quantityContainer.order {
    margin-bottom: 3.6vw;
}

.sideCart_removeBt.order {
    margin-bottom: 1.3vw;
}



/* For "checkout shipping method" under checkout page */

.checkout_shipping {
    width: 43vw;
    margin-right: 7vw;
    display: none;
}

#user_email, #user_address{
    width: 25vw;
}

.shipping_info {
    padding: 1vw 2vw;
}

.shipping_info > div:nth-last-child(n+2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shipping_info > div:nth-child(1) {
    margin-bottom: 1vw;
    padding-bottom: 0.5vw;
}

.shipping_info > div:nth-child(3) {
    margin-top: 0.5vw;
    padding-top: 1vw;
}

.shipping_info div div p:nth-child(1) {
    font-size: calc(var(--_size)*1.3);
}

.shipping_info div div p:nth-child(2), .shipping_info div a, #shipping_express{
    font-size: calc(var(--_size)*1.1);
}

.shipping_info div:nth-child(1) div p:nth-child(1) {
    padding-right: 2vw;
}

.shipping_info div:nth-child(2) div p:nth-child(1) {
    padding-right: 2.85vw;
}

.shipping_info div:nth-child(3) div p:nth-child(1) {
    padding-right: 2.37vw;
}

.shipping_info > div:nth-last-child(1) {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shipping_info div div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shipping_method {
    margin-top: 2vw;
}

.shipping_method > p {
    font-size: calc(var(--_size)*1.6);
    margin-bottom: 0.5vw;
}

#shipping_form > div:nth-child(1) > div {
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;
} 

#shipping_form > div:nth-child(1) div div label, #shipping_form > div:nth-child(1) div p {
    font-size: calc(var(--_size)*1.3);
}

#shipping_standard, #shipping_express {
    display: none;
}

#payment {
    margin-top: 2vw;
    display: none;
}

#payment > p:nth-child(1), #payment > p:nth-of-type(3) {
    font-size: calc(var(--_size)*1.6);
}

#payment > p:nth-of-type(3) {
    margin-top: 2vw;
}

#payment > div:nth-of-type(2) {
    padding: 1vw 2vw;
}

#payment > p:nth-child(2) {
    font-size: calc(var(--_size)*1.1);
    margin-bottom: 0.5vw;
}

.payment_creditCard > div {
    padding: 1vw 2vw;
}

.payment_creditCard > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_creditCard > div:nth-child(1) div img {
    height: 2vw;
    width: 2.8vw;
}

.payment_creditCard > div:nth-child(2) > div:nth-last-child(n+2),
.payment_creditCard > div:nth-child(2) > div:nth-last-child(1) div {
    display: flex;
    flex-direction: column;
}

.payment_creditCard > div:nth-child(2) > div:nth-last-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment_creditCard > div:nth-child(1) div label, .payment_paypal label, .payment_pOrder label,
#payment > div:nth-of-type(2) label{
    font-size: calc(var(--_size)*1.3);
}

.payment_creditCard > div:nth-child(2) div label {
    font-size: var(--_size);
}

.payment_creditCard > div:nth-child(2) div input {
    height: 3vw;
    padding-left: 0.5vw;
    font-size: var(--_size);
}

.payment_creditCard > div:nth-child(2) > div:nth-child(n+2) {
    margin-top: 0.5vw;
}

.payment_creditCard > div:nth-child(2) div:nth-child(3) div input {
    width: 19vw;
}

.payment_paypal, .payment_pOrder{
    display: flex;
    align-items: center;
    padding: 1vw 2vw;
}

.payment_paypal {
    justify-content: space-between;
}

.payment_paypal img {
    height: 1.5vw;
    width: 5.5vw;
}



/* Payment success popup ============================================================================================================ */

/* To adjust the popup in the center of the page */
#adjustPopup {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

#popup_dropShadow {
    position: absolute;
    display: none;
    width: 100%;
    height: 106%;
    z-index: 1;
    transform: translateY(-200px);
}

.popup_container {
    padding: 3vw;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_container > a {
    margin-top: 3vw;
    font-size: calc(var(--_size)*1.3);
}

.popup_container > div:nth-of-type(1) {
    width: 44vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
}

.popup_container > div:nth-of-type(1) ion-icon {
    font-size: calc(var(--_size)*4);
}

.popup_container > div:nth-of-type(1) p {
    font-size: calc(var(--_size)*1.8);
    line-height: 2.5vw;
    width: 35vw;
    margin-left: 1vw;
}

.popup_container > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
} 

.popup_container > div:nth-of-type(2) > div:nth-of-type(1) {
    padding-top: 1vw;
    padding-right: 2vw;
}

.recipt_container {
    padding-left: 2vw;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div {
    margin-top: 1vw;
    padding-top: 1vw;
}

.popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div p:nth-child(1) {
    margin-bottom: 0.3vw;
}

.popup_container > div:nth-of-type(2) > div:nth-of-type(2) > p, 
.popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div p:nth-child(1) {
    font-size: calc(var(--_size)*1.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div ion-icon,
.popup_container > div:nth-of-type(2) > div:nth-of-type(2) ion-icon {
    font-size: calc(var(--_size)*2);
    margin-right: 0.5vw;
}

.recipt_container div {
    margin-top: 1vw;
}

#final_shipAddress, #estDate, .recipt_container div p {
    font-size: calc(var(--_size)*1.2);;
}

.sideCart_items_container.popup {
    height: 28vw;
    margin-top: 0;
    padding: 1vw 0 0 0;
}
