/* The font style ================================================================================================================================================= */

/* The links in top navigation bar, headings and all titles */
.heading_fg div a:nth-child(1), .topBar_dropdown li a, h2, .sideCart_title p, 
.cartSummary_heading, .checkout_navbarContainer h2, .popup_container > div:nth-of-type(1) p {
    font-family: var(--font--primary);
}

/* Main font of the website */
.bookList_author, .bookList_topbar label, .heading_fg div a:nth-child(3), .subscribe_info > div > label, 
.subscribe_info > div > button, .sideCart_itemInfo div p:nth-child(2), .orderNote_container label, .sideCart_removeBt,
.subtotalPrice_container > div:nth-child(1) > p:nth-child(1), .bookList_title, .sideCart_itemInfo div p:nth-child(1),
.searched_container > div > div:nth-child(2) p, .bookList_bookInfo_phone p:nth-child(2),
.searched_container > div > div:nth-child(2) button, .bookList_bookInfo_phone p:nth-child(1),
.searched_container > div > div:nth-child(1) input, .searchBar input, .clickable_text,
.productInfo div div p:nth-child(1), .productInfo div div p:nth-child(2), .productInfo > div:nth-child(2) p,
.checkout_priceInfo > div:nth-child(1) > p:nth-child(1), .checkout_orderNoteContainer label, .checkout_bts a,
.checkout_navbarContainer div a, .checkout p, .checkout a, .orderSummary > p, 
.orderSummary_priceInfo > div:nth-child(1) > p:nth-child(1), .orderSummary_priceInfo > div:nth-child(2) > p, .orderSummary_priceInfo > div:nth-child(3) > p:nth-child(1),
.checkout > div:nth-child(2) span,.nextStep input, .open_orderSummaryContainer p, .shipping_info div div p:nth-child(1), .shipping_info div div p:nth-child(3),
.shipping_info div a, .shipping_method > p, #shipping_form > div:nth-child(1) div div label, #shipping_form > div:nth-child(1) div p,
.payment_creditCard > div:nth-child(1) div label, .payment_paypal label, .payment_pOrder label, .sideCart_bts a,
#payment > p:nth-child(1), #payment > p:nth-of-type(3), .nextStep a, .popup_container > div:nth-of-type(2) > div:nth-of-type(2) > p, 
.popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div p:nth-child(1), .popup_container > a  {
    font-family: var(--font--secondary);
}

/* books' price, subtotal price and total price */
.bookList_price, .heading_fg div a:nth-child(2), #cart_items, .sideCart_title span, .sideCart_itemInfo div + p, 
.sideCart_quantityContainer, .sideCart_quantityContainer a, 
.subtotalPrice_container > div:nth-child(2) > p:nth-child(1), .bookList_bookInfo_phone p:nth-child(3),
.subtotalPrice_container > div:nth-child(2) > p:nth-child(1) span, .productInfo div div p:nth-child(3),
.checkout_priceInfo > div:nth-child(1) > p:nth-child(2), .orderSummary_priceInfo > div:nth-child(1) > p:nth-child(2),
.orderSummary_priceInfo > div:nth-child(3) > p:nth-child(2), .open_orderSummaryContainer > p span {
    font-family: var(--font--tertiary);
}

/* formal information, e.g. bussiness information, label of the input in check out page */
.business_container > div h3, .business_container > div p, .business_container > ul a, footer p, 
.subtotalPrice_container > div:nth-child(1) > p:nth-child(2), 
.subtotalPrice_container > div:nth-child(2) > p:nth-child(2),
.subtotalPrice_container > div:nth-child(1) > p:nth-child(2) span,
.checkout_priceInfo > div:nth-child(2) > p, .summary_info >div:nth-child(2) p, .checkout label,
.orderSummary_priceInfo > p, .orderSummary_discountCode input::placeholder, .shipping_info div div p:nth-child(2),
.payment_creditCard > div:nth-child(2) div label, #payment > p:nth-child(2), #payment > div:nth-of-type(2) label,
#final_shipAddress, #estDate, .recipt_container div p {
    font-family: var(--font--quartus);
}

.heading_fg div a:nth-child(1), .computer_remove.beBold a {
    font-weight:700;
}

.bookList_author, .subscribe_info > div > button {
    font-weight: 400;
}

.bookList_topbar label, .sideCart_title p, .cartSummary_heading, .checkout_navbarContainer h2,
.orderSummary_priceInfo div:nth-child(3) p:nth-child(1) {
    font-weight: 450;
}

.bookList_title, .sideCart_itemInfo div p:nth-child(1),
.heading_fg div a:nth-child(3), .subtotalPrice_container > div:nth-child(1) > p:nth-child(1), 
.bookList_bookInfo_phone p:nth-child(1), .productInfo div div p:nth-child(1),
.productInfo > div:nth-child(2) p:nth-child(1), .checkout_priceInfo > div:nth-child(1) > p:nth-child(1),
.shipping_info div div span {
    font-weight: 500;
}

.business_container > div h3 {
    font-weight: normal;
}

img, input[type="radio"], input[type="checkbox"], a, button{
    cursor: pointer;
}

/* for the UI components that are not designed in the work flow */
.notDesigned {
    cursor: not-allowed;
}


/* main top navigation bar =================================================================================================================================================*/
.topBar {
    box-shadow: var(--bg--shadow--hover);
}

.topBar_dropdown li {
    list-style: none;
}

.topBar_dropdown li a {
    text-decoration: none;
}

.topBar_dropdown li ul {
    border-radius: 0 0 var(--bg--radius) var(--bg--radius);
    box-shadow: var(--bg--shadow--hover);
}

.searchBar {
    border-radius: calc(var(--bg--radius)*0.6);
}

.searchBar input {
    border: none;
    border-radius: calc(var(--bg--radius)*0.6) 0 0 calc(var(--bg--radius)*0.6);
    outline-color: var(--bt--primary);
    background: transparent;
}

.searchBar button {
    border: none;
    border-radius: 0 calc(var(--bg--radius)*0.6) calc(var(--bg--radius)*0.6) 0;
}

.searchBar button > ion-icon {
    --ionicon-stroke-width: 3vw;
}

#cart_icon_container {
    cursor: pointer;
}

#cart_icon:hover {
    content: url("/book/icons/cart_icon_hover.png");
}

#cart_items {
    border-radius: 50%;
}



/* Heading ================================================================================================================================================= */
#heading_img {
    box-shadow: var(--img--shadow);
}

#heading_img:hover {
    filter: brightness(120%);
    transition: 0.1s linear;
}

.heading_fg div a {
    text-decoration: none;
}

.heading_fg div a:nth-child(3) {
    text-decoration: underline 2px;
}

.heading_bgImg {
    /* in order to avoid the white edge */
    flex-shrink: 0;
    filter: blur(6px) brightness(80%);
}


@keyframes zoomOut {
    0% {
        min-width: 105%;
        min-height: 105%;
    }

    50% {
        min-width: 155%;
        min-height: 155%;
    } 
    
    100% {
        min-width: 205%;
        min-height: 205%; 
    }
}

#heading_bgImg_anime {
    animation-name: zoomOut;
    animation-timing-function:linear;
    animation-duration: 90s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}


/* Recommendation ================================================================================================================================================= */
.bookList_topbar {
    border-radius: var(--bg--radius);
}

.bookList_productImg {
    box-shadow: var(--img--shadow);
}

.bookList_background {
    border-radius: var(--bg--radius);
}

.product_container:hover {
    transition: 0.15s linear;
}

.product_container:hover .bookList_background {
    box-shadow: 0px 0px 0.8em rgba(0, 0, 88, 0.2);
    transition: 0.15s linear;
}

.product_container:hover .bookList_productImg {
    filter: brightness(120%);
    transition: 0.15s linear;
}

.bookList_productBts:hover {
    filter: drop-shadow(var(--bt--shadow--hover));
}

.bookList_bookInfo p:hover {
    cursor: pointer;
}



/* Subscribe ================================================================================================================================================= */
#subscribe_email {
    outline: none;
    border: none;
    border-radius: calc(var(--bt--radius)*0.5);
}

.subscribe_info button {
    border: none;
    border-radius: calc(var(--bt--radius)*0.5);
}

.subscribe_info button:hover {
    box-shadow: 1px 3px 0.4em rgba(0, 0, 0, 0.792);
    transform: translateY(-1px);
}

.holdAnimation{
    box-shadow: 3px 2px 0.4em rgba(0, 0, 0, 0.761);
}

/* Subscribe animations */
.holdAnimation:nth-child(1) {
    animation-name: slidein_1;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction:alternate
}

.holdAnimation:nth-child(2) {
    animation-name: slidein_2;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 0.25s;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

.holdAnimation:nth-child(3) {
    animation-name: slidein_3;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

@keyframes slidein_1 {
    from {
        opacity: 0;
        transform: translateX(20px) rotate(-7deg);
    }

    to {
        opacity: 100%;
        transform: translateX(-100px) translateY(-177px) rotate(-8deg);
    }
}

@keyframes slidein_2 {
    from {
        opacity: 0;
        transform: translateX(0px) rotate(6deg);
    }

    to {
        opacity: 100%;
        transform: translateY(-220px) rotate(6deg);
    }
}

@keyframes slidein_3 {
    from {
        opacity: 0;
        transform: translateX(0px) rotate(18deg);
    }

    to {
        opacity: 100%;
        transform: translateX(100px) translateY(-140px) rotate(20deg);
    }
}


/* Business information ================================================================================================================================================= */
.business_container ul {
    list-style: none;
}

.business_container ul a:hover {
    cursor: pointer;
}


/* footer ================================================================================================================================================= */


/* sideCart ================================================================================================================================================= */
.sideCart {
    border-radius: 0 0 var(--bg--radius) var(--bg--radius);
    box-shadow: var(--bg--shadow--hover);
}

.sideCart_removeBt {
    text-decoration: underline;
    cursor: pointer;
}

.sideCart_quantityContainer ion-icon, #cart_close{
    cursor: pointer;
}

.sideCart_items_container, .orderNote_container, .subtotalPrice_container {
    border-radius: var(--bg--radius);
}

.sideCart_items {
    border: 1.5px solid var(--tx--quinary);
    border-radius: var(--bg--radius);
}

#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #item_8 {
    display: none;
}

.sideCart_title {
    border-bottom: 1.5px solid var(--tx--quinary);
}

.sideCart_viewCart {
    border: 2px solid var(--bt--secondary);
    border-radius: var(--bt--radius);
}

.sideCart_bts a {
    text-decoration: none;
}
  
.sideCart_checkout {
    border-radius: var(--bt--radius);
}
.sideCart_quantityContainer span span{
    border-radius: 0.26vw;
}

.orderNote_container input {
    outline: none;
    border: 1px solid var(--tx--quinary);
    border-radius: var(--bg--radius);
}



/* Search result Page =================================================================================================================================================================*/
#searched_input {
    border: none;
    border-radius: var(--bg--radius);
    outline-color: var(--bt--primary);
}

.searched_container > div > div:nth-child(1) input {
    border-radius: calc(var(--bg--radius)*0.8);
}
    

.searched_container > div > div:nth-child(2) button {
    border: none;
}

.clickable_text {
    text-decoration: underline 0.15vw;
    cursor: pointer;
}
  
  
/* Product Page =================================================================================================================================================================================== */
.product1_container {
    border-radius: var(--bg--radius);
}


.product_viewCart {
    border: 2px solid var(--bt--secondary);
    border-radius: var(--bg--radius);
    cursor: pointer;
}
  

.productInfo > div:nth-child(1) {
    border-bottom: 1px solid var(--tx--quartus);
}

#product1_img {
    box-shadow: 0px 3px 0.4em rgba(0, 0, 0, 0.999);
}

#product1_img:hover {
    filter: brightness(120%);
}

.productInfo > div:nth-child(2) p:nth-child(4) a {
    text-decoration: underline;
} 
  
/* Cart summary Page ================================================================================================================================================================================================== */
  
.cartSummary_check, .cartSummary_shop, #checkout_orderNote {
    border-radius: var(--bg--radius);
}

.cartSummary_container {
    border-top: 1px solid var(--tx--secondary);
}

#checkout_orderNote {
    border: 1px solid var(--tx--tertiary);
}

.checkout_orderNoteContainer {
    border-top: 1px solid var(--tx--tertiary);
}

.cartSummary_shop {
    border: 2px solid var(--bt--secondary);
}
  
.summary_checkout {
    border-radius: var(--bg--radius);
}

.cartSummary_check, .cartSummary_shop {
    text-decoration: none;
}


/* Checkout Page =================================================================================================================================================================================================== */

.checkout_navbarContainer {
    border-bottom: 1px solid var(--tx--tertiary);
}

.checkout_navbarContainer div a {
    text-decoration: underline 0.15vw;
}

.chekcout_form input, .chekcout_form select, .orderSummary_discountCode input {
    border-radius: calc(var(--bg--radius)*0.5);
    border: 1px solid var(--tx--tertiary);
}

.chekcout_form > div p:nth-child(2) a {
    text-decoration: underline 0.2vw;
}

.checkout > div:nth-child(2) hr {
    outline: none;
    border: none;
    background-color: var(--tx--tertiary);
    height: 1px;
}

.nextStep input {
    border: none;
    cursor: pointer;
    border-radius: var(--bg--radius);
}

.nextStep a {
    text-decoration: none;
}

.orderSummary {
    border-radius: var(--bg--radius);
}

.orderSummary_discountCode {
    margin-top: 2vw;
}

.orderSummary > p {
    border-bottom: 1px solid var(--tx--quartus);
}

.orderSummary_priceInfo {
    border-top: 1px solid var(--tx--tertiary);
}

.orderSummary_discountCode button {
    border-radius: calc(var(--bg--radius)*0.5);
    border: none;
}

.sideCart_items_container.order::-webkit-scrollbar {
    overflow: visible;
}

/* For "checkout shipping method" under Check out page */

.shipping_info > div:nth-child(1) {
    border-bottom: 1px solid var(--tx--quinary);
}

.shipping_info > div:nth-child(3) {
    border-top: 1px solid var(--tx--quinary);
}

.shipping_info div a {
    text-decoration: underline 0.1vw;
}


/* For "checkout shipping method" under checkout page */
.shipping_info {
    border: 1px solid var(--tx--quinary);
    border-radius: calc(var(--bg--radius));
}

.shipMethod_checked:nth-of-type(1) {
    border: 1px solid var(--bt--secondary);
    border-radius: var(--bg--radius) var(--bg--radius) 0 0;
}

.shipMethod_checked:nth-of-type(2) {
    border: 1px solid var(--tx--quinary);
    border-radius: 0 0 var(--bg--radius) var(--bg--radius);
}

#payment > div:nth-of-type(2) {
    border: 1px solid var(--tx--quinary);
    border-radius: var(--bg--radius);
}

.payment_creditCard > div:nth-child(1) {
    border: 1px solid var(--bt--secondary);
    border-radius: var(--bg--radius) var(--bg--radius) 0 0;
}

.payment_creditCard > div:nth-child(2) {
    border-left: 1px solid var(--bt--secondary);
    border-right: 1px solid var(--bt--secondary);
    border-bottom: 1px solid var(--bt--secondary);
}

.payment_creditCard > div:nth-child(2) div input {
    border-radius: calc(var(--_size)*0.5);
    border: 1px solid var(--tx--quinary);
}

.payment_paypal, .payment_pOrder{
    border: 1px solid var(--tx--quinary);
}

.payment_pOrder {
    border-radius: 0 0 var(--bg--radius) var(--bg--radius);
}

/* Payment success popup ============================================================================================================================================================================================= */

#popup_dropShadow {
    backdrop-filter: brightness(70%);
}

.popup_container {
    border-radius: var(--bg--radius);
    box-shadow: var(--popup--shadow);
}

.popup_container > a {
    text-decoration: underline 0.15vw;
}

.popup_container > div:nth-of-type(2) > div:nth-of-type(1) {
    border-top: 1px solid var(--tx--tertiary);
    border-right: 1px solid var(--tx--tertiary);
}

.popup_container > div:nth-of-type(2) > div:nth-of-type(2),
.popup_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) div {
    border-top: 1px solid var(--tx--tertiary);
}

.popup_container > a {
    text-decoration: underline 0.15vw;
}